@using cloudscribe.Pagination.Models;
@using Pokedex.Common;

@model PagedResult<PokemonListingViewModel>

@{
    ViewData[Constants.Title] = "My " + Constants.Pokedex;
    ViewData[Constants.Controller] = Constants.PokedexNoAccent;
}

<h1>@ViewData[Constants.Title]</h1>

<div class="pokemon__container">
    @foreach (var pokemon in Model.Data)
    {
        <a class="pokemon__item pokemon__item--hover" asp-controller="@Constants.PokedexNoAccent" asp-action="@Constants.Detail" asp-route-id="@pokemon.MyPokemonId">
            <div class="pokemon__title-container">
                <h3>@pokemon.Name</h3>

                @if (!string.IsNullOrWhiteSpace(pokemon.Nickname))
                {
                    <h4>@Constants.Nickname: @pokemon.Nickname</h4>
                }
            </div>
            <img class="pokemon__item-img" src="@pokemon.ImageURL" />
        </a>
    }

    @if (Model.Data.Count == 0)
    {
        <h2>You have no @Constants.Pokemon in your @Constants.Pokedex!</h2>
    }
</div>

<partial name="_PaginationPartial" model="Model" />