@using Pokedex.Common;

@model List<PokemonListingViewModel>

@{
    ViewData["Title"] = "My " + Constants.Pokedex;
    
}

<h1>@ViewData["Title"]</h1>

<div class="pokemon__container">
    @foreach (var pokemon in Model)
    {
        <a class="pokemon__item pokemon__item--hover" asp-controller="Pokedex" asp-action="@Constants.Detail" asp-route-id="@pokemon.MyPokemonId">
            <div class="pokemon__title-container">
                <h2>
                    @pokemon.NationalDexPokemonId. @pokemon.Name
                </h2>

                @if (!string.IsNullOrWhiteSpace(pokemon.Nickname))
                {
                    <h3>@Constants.Nickname: @pokemon.Nickname</h3>
                }
            </div>
            <img class="pokemon__item-img" src="@pokemon.ImageURL"/>
        </a>
    }

    @if(Model.Count == 0)
    {
        <h2>You have no @Constants.Pokemon in your @Constants.Pokedex!</h2>
    }
</div>