@using Pokedex.Common;

@model PokemonDetailViewModel

@{
    ViewData[Constants.Title] = Constants.NationalDex + " - " + Model.Name;
}

<div class="pokemon__container">
    <div class="pokemon__item pokemon__item--large">
        <img class="pokemon__item-img" src="@Model.ImageURL" />

        <h1>
            @Model.NationalDexPokemonId. @Model.Name
        </h1>

        <div class="pill__container">
            <partial name="_TypePillPartial" model="Model.TypeOne"/>

            @if (!string.IsNullOrWhiteSpace(Model.TypeTwo) && !Model.TypeTwo.Equals(Constants.NotApplicable))
            {
                <partial name="_TypePillPartial" model="Model.TypeTwo" />
            }

            <partial name="_AbilityPillPartial" model="Model.Ability"/>

            @if (!string.IsNullOrWhiteSpace(Model.HiddenAbility) && !Model.HiddenAbility.Equals(Constants.NotApplicable))
            {
                <partial name="_AbilityPillPartial" model="Model.HiddenAbility" />
            }
        </div>

        <h3>
            Japanese Name: <em>@Model.JapaneseName</em>
        </h3>

        <h4>
            <em>@Model.Category @Constants.Pokemon</em>
        </h4>

        <div class="pokemon__item-stat">
            <img src="~/images/kettlebell.png" /> <span>~@Model.WeightInPounds lbs.</span>
            <img src="~/images/ruler.png" /> <span>@Model.HeightInInches in.</span>
        </div>

        <h3 class="pokemon__item-description">
            <em>@Model.Description</em>
        </h3>
    </div>
</div>