@using Pokedex.Common;

@model List<PokemonListingViewModel>

@{
    ViewData["Title"] = Constants.NationalDex;

}

<h1>National @Constants.Pokedex</h1>

<div class="pokemon__container">
    @foreach (var pokemon in Model)
    {
        <a class="pokemon__item pokemon__item--hover" asp-controller="@Constants.NationalDex" asp-action="@Constants.Detail" asp-route-id="@pokemon.NationalDexPokemonId">
            <h2 class="pokemon__item-title">@pokemon.NationalDexPokemonId. @pokemon.Name</h2>
            <img class="pokemon__item-img" src="@pokemon.ImageURL"/>
        </a>
    }
</div>