@using Pokedex.Common;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Constants.Pokedex App - @ViewData["Title"]</title>

    <link href="https://fonts.googleapis.com/css?family=Kanit:300,400&display=swap" rel="stylesheet">

    <environment include="Development">
        <link rel="stylesheet" href="~/less/website.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/less/website.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header class="navigation__container">
        <div class="navigation__list">
            <a class="navigation__item" asp-area="" asp-controller="Pokedex" asp-action="Index">
                <img src="~/images/pokedex.png" />
            </a>
            <a class="navigation__item" asp-area="" asp-controller="PokemonForm" asp-action="Index">
                <img src="~/images/addPokemonIcon.png" />
            </a>
            <a class="navigation__item" asp-area="" asp-controller="NationalDex" asp-action="Index">
                <img src="~/images/nationaldexicon.png" />
            </a>
            <a class="navigation__item" asp-area="" asp-controller="Search" asp-action="Index">
                <img src="~/images/magnifying-glass.png" />
            </a>
        </div>
    </header>

    <div class="content__container">
        @RenderBody()
    </div>
    
    <footer>
        <p>&copy; 2019 - @Constants.Pokedex - Robyn Stanco. Data from <a href="https://bulbapedia.bulbagarden.net/wiki/Bulbapedia:Fair_use">@Constants.Bulbapedia</a>. Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a>, and <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </footer>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
