@using Pokedex.Common;

<a class="pokemon__item pokemon__item--hover" asp-controller="@Constants.NationalDex" asp-action="@Constants.Detail" asp-route-id="@Model.NationalDexPokemonId">
    <h3 class="pokemon__item-title">@Model.NationalDexPokemonId. @Model.Name</h3>
    <img class="pokemon__item-img" src="@Model.ImageURL" />
</a>