@using Pokedex.Common;

@model PokemonFormViewModel

@{
    ViewData["Title"] = "Add a " + Constants.Pokemon + " to your " + Constants.Pokedex + "!";
}

<h1 class="form__header">@ViewData["Title"]</h1>

<div class="form__container">
    @using (Html.BeginForm("Index", "PokemonForm"))
    {
        <div asp-validation-summary="All"></div>
        <article>
            <div class="input__container">
                <div class="input__label">
                    @Constants.Nickname:
                </div>
                <div class="input__field">
                    @Html.TextBoxFor(m => m.Nickname)
                </div>
            </div>
            <div class="input__container">
                <div class="input__label">
                    *@Constants.Pokemon Caught:
                </div>
                <div class="input__field">
                    @Html.DropDownListFor(m => m.SelectedNationalDexPokemonId, Model.NationalDexOptions)
                </div>
            </div>
            <div class="input__container">
                <div class="input__label">
                    *@Constants.Pokeball Used:
                </div>
                <div class="input__field">
                    @Html.DropDownListFor(m => m.SelectedPokeballId, Model.PokeballOptions)
                </div>
            </div>
            <div class="input__container">
                <div class="input__label">
                    *@Constants.CaptureDate:
                </div>
                <div class="input__field">
                    @Html.TextBoxFor(m => m.Date, new { placeholder = Model.DatePlaceholder })
                </div>
            </div>
            <div class="input__container">
                <div class="input__label">
                    @Constants.LocationCaught:
                </div>
                <div class="input__field">
                    @Html.TextAreaFor(m => m.Location)
                </div>
            </div>
            <div class="input__container">
                <div class="input__label">
                    *@Constants.Level:
                </div>
                <div class="input__field">
                    @Html.TextBoxFor(m => m.Level, new { @type = "number", @min = "1"})
                </div>
            </div>
            <div class="input__container">
                <div class="input__label">
                    *@Constants.Sex:
                </div>
                <div class="input__field">
                    @Html.DropDownListFor(m => m.SelectedSexId, Model.SexOptions)
                </div>
            </div>
        </article>

        <input type="submit" value="ADD TO @Constants.Pokedex.ToUpper()" />
    }
</div>